body {
    color: steelblue;
}
span {
    font-size: 72px;
}
table {
    border: 5px ridge red;
}
th, td {
    /* border: 1px solid red; */
    /* border-top: 2px solid black; */
}
tr {
    border-top: 2px solid black;
}